{% extends 'base.html' %}
{% block title %}Meditação{% endblock %}
{% block content%}
<h1 class="text-4xl">Meditação</h1>
<p class="text-center px-10 pt-10">No zelo, não sejais remissos; sede fervorosos de espírito, servindo ao Senhor.</p>
<p class="text-center px-10">Rm 12.11</p>
<p class="text-center px-10 pt-10">A religião que Deus requer e aceitará, não consiste em desejos fracos, sem vida e sem graça, nos fazendo agir um pouco acima do estado da indiferença.</p>
<p class="text-center px-10">Jonathan Edwards</p>
<p class="text-justifyeft px-10 pt-10 text-justify">&emsp; A religião cristã não se trata de uma mudança de agenda: aos domingos tínhamos certas compromissos, agora trocamos pela igreja. 
  Gostávamos de certo tipo de literatura, então trocamos pela Bíblia. Ou tínhamos certa roda de amigos e agoram mudamos nosso círculo social.
</p>
<p class="text-justifyeft px-10 text-justify">&emsp; Todos nós somos levados pelas nossas afeições. Elas ditam onde passaremos mais tempo. Lembro que passava horas aguardando o jogo do santa cruz, um time de Recife. 
  Eu, meu irmão e meu pai nos preparávamos para o jogo. Era quase um ritual. Saíamos de casa em torno de três a quatro horas antes do jogo. Ficávamos em um estabelecimento próximo ao estádio, onde seria a partida, aguardando a hora do jogo.
  Nossa conversa girava em torno da partida e possíveis resultados.</p>
  <p class="text-justifyeft px-10 text-justify">&emsp; Durante a partida, gritávamos, incentivávamos, cantávamos, xingávamos o adversário, o juiz, enfim, era uma descarga de afeições. Nossos corações estavam naquilo. Lembro de homem que certa vez por tamanha raiva do time quebrou até seu aparelho de rádio, 
    pois era comum ver a partida e ouvir a narração da mesma.     
  </p>
  <p class="text-justifyeft px-10 text-justify">&emsp; Assim acontece na verdadeira religião. Não se trata de uma mudança de agenda, ou fazer algo atrelado à religião: ir à igreja, orar, ler a Bíblia, porque é o certo a fazer. Não! Quando nos religamos a Deus, nossas afeições mudam!
     Não se trata de algo que é certo fazer, mas fazer porque algo mudou em nosso coração. E isso é um Dom de Deus! Por isso Jesus disse a Nicodemos: vos é necessário nascer de novo. Somente quando há esse novo nascimento, essa mudança interna, há mudança nas afeições.
      Então leremos a Bíblia como se fosse informações do nosso time, ou cantaremos na igreja como se fosse o hino do nosso time, ou canções de torcida para incentivar. O fato que isso é um milagre. Pois Deus somente aceitará uma religião como esta.
  </p>
  <p class="text-justifyeft px-10 pt-10 text-justify">Que tipo de afeições você tem pela Bíblia? Consegue descrever?</p>
<br/>
<footer class="bg-slate-800 shadow ">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="{% url 'home' %}" class="hover:underline">Meditação anterior</a>
      </li>
      
  </ul>
  </div>
</footer>
{% endblock %}
