{% extends 'base.html' %}
{% block title %}Meditação{% endblock %}
{% block content%}
<h1 class="text-4xl">Meditação {{mycontext}}</h1>
<blockquote class="text-center px-10 pt-10">...pelo contrário, santifiquem a Cristo, como Senhor, no seu coração, estando sempre preparados para responder a todo aquele que pedir razão da esperança que vocês têm. 1 Pedro 3.15</blockquote>

<blockquote class="text-center px-10 pt-10">Dá-me o que me pedes e pedes o que quiseres<br>
Agostinho de Hipona</blockquote>

<p class="text-justifyeft px-10 pt-10 text-justify">&emsp;Esse é um versículo bastante conhecido entre os cristãos. Já o vi "n" vezes ser usado como texto para estar preparado para evangelizar, pois surgirão certas dúvidas. Ou estar preparado para explicar a fé cristã. Na verdade o texto fala em dar uma resposta contrária que se espera ao sofrimento. O verso anterior fala em não angustiar-se, ou andar com ansiedade e pagar o mal com bem e falar, porque não agimos como o mundo agiria nessa situação.</p>

<p class="text-justifyeft px-10 text-justify">&emsp;Em apelos, em geral, é usado o termo: "você aceitar Jesus como Senhor? Chame Ele para morar no seu coração".</p>

<p class="text-justifyeft px-10 text-justify">&emsp;Não sei se o texto utilizado para esse apelo foi esse ou outro, mas acredito que a Bíblia deixa bem claro que nenhuma pessoa está em posição para aceitar Jesus como Senhor. Jesus desde a eternidade é Senhor, queira algum ser humano, anjo, demônio aceite ou não. Ele não é só o Deus Eterno que sempre foi o Senhor, mas ainda conquistou o Senhorio vencendo! Disse Ele: Toda autoridade me foi dada nos céus e na terra.(Mt 28.18)</p>

<p class="text-justifyeft px-10 text-justify">&emsp;Na minha opinião quando em apelo pedir para alguém aceitar Jesus como Senhor é fazer uma pergunta sem sentido, pois Deus já o Consagrou desde a Eternidade.</p>

<h3 class="text-justifyeft px-10 text-justify">&emsp;Como fazer o apelo então?</h3>

<p class="text-justifyeft px-10 text-justify">&emsp;Como Jesus pregava? Como os apóstolos pregavam? Arrependam-se, porque está próximo o Reino dos Céus. (Mt 4.17) Arrepender-se é pare de  agir como se Ele já não fosse o Senhor do Universo e da sua própria vida e aja como tal. Busque Graça diante de Deus, pois Ele disse: Todo aquele que vier a mim não lançarei fora.(Jo 6.37)</p>
<br/>


<footer class="bg-slate-800 shadow ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{% url 'd1' %}" class="hover:underline">Meditação anterior</a>
        </li>
        
    </ul>
    </div>
</footer>
{% endblock %}